.TD1 {
    font-family: -apple-system, sans-serif;
    text-align: center;
    font-size: xx-large;
    color: #00224D;
}


.TD2 {
    font-family: -apple-system, sans-serif;
    text-align: center;
    font-size: xxx-large;
    color: #8576FF;
}

.TD3 {
    margin: 0 auto;
    display: block;
}